@import '~antd/es/style/themes/default.less';

.wrapper {
  margin: 0 16px 28px;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // position: relative;
  // box-sizing: border-box;
  // width: 188px;
  // height: 160px;
  // padding: 49px 0 0;
  // text-decoration: none;
}

.add {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 180px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .addIcon {
    font-size: 40px;
    padding-top: 22px;
  }
}

.upload {
  position: absolute;
  width: 180px;
  height: 42px;
  top: 164px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px dashed;
}
