@import '~antd/es/style/themes/default.less';

.decks {
  position: relative;
  margin: 0 16px 28px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 188px;
  height: 210px;
  border: 4px dashed fade(@primary-color, 30%);
  border-radius: 8px;
  background: @layout-body-background;
  position: relative;
  z-index: 2;
}

.card {
  position: absolute;
  top: -14px;
  left: 12px;
  width: 188px;
  height: 210px;
  border: 4px dashed fade(@primary-color, 30%);
  border-radius: 8px;
}

.add {
  width: 180px;
  height: 160px;
  .addIcon {
    font-size: 40px;
    padding-top: 22px;
  }
}

.upload {
  width: 180px;
  height: 42px;
  border-top: 4px dashed fade(@primary-color, 30%);
  text-decoration: underline;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
  color: fade(@primary-color, 40%);
  &:hover {
    color: @primary-color;
  }
  &:focus {
    outline: none;
  }
}

.modal {
  :global(.ant-modal) {
    display: flex;
    flex-direction: column;
  }

  :global(.ant-modal-body) {
    padding: 0;
  }
}

.content {
}

.title {
  text-align: center;
  margin-top: 24px;
  color: @text-color;
}
