@import '~antd/es/style/themes/default.less';

.newDeck {
  position: relative;
  margin: 0 16px 28px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 188px;
  height: 210px;
  border: 4px dashed fade(@primary-color, 30%);
  border-radius: 8px;
  background: @layout-body-background;
  position: relative;
  z-index: 2;
}

.card {
  position: absolute;
  top: -14px;
  left: 12px;
  width: 188px;
  height: 210px;
  border: 4px dashed fade(@primary-color, 30%);
  border-radius: 8px;
}

.add {
  width: 180px;
  height: 160px;
  .addIcon {
    font-size: 40px;
    padding-top: 22px;
  }
}

.upload {
  width: 180px;
  height: 42px;
  border-top: 4px dashed fade(@primary-color, 30%);
  text-decoration: underline;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
  color: fade(@primary-color, 40%);
  &:hover {
    color: @primary-color;
  }
  &:focus {
    outline: none;
  }
}

.modal {
  :global(.ant-modal) {
    display: flex;
    flex-direction: column;
  }
  :global(.ant-modal-content) {
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  :global(.ant-modal-body) {
    padding: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}

.content {
  min-height: 0px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 24px;
  color: @text-color;
}

.scroll {
  overflow: scroll;
  & > div:last-child {
    padding-bottom: 28px;
  }
}

.body {
  display: flex;
  padding: 0 24px;
}

.form {
  flex: 1 0 auto;
  :global(.ant-form-item-label) {
    padding: 0 0 4px;
    & > label {
      font-size: @font-size-base - 2px;
      font-weight: bold;
      color: var(--text-light-color);
    }
  }
}

.curve {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
