@import '~antd/es/style/themes/default.less';

.form {
  width: 182px;
}

.timestamp {
  display: flex;
  align-items: center;
  :global(.ant-input-number) {
    flex-grow: 1;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.delete {
  margin: 0 8px;
  cursor: pointer;
  font-size: 22px;
  color: #999;
  position: relative;
  transition: all 0.3s;
  &:hover {
    color: #777;
  }
}

.addBtn {
  width: 100%;
}
