@import '~antd/es/style/themes/default.less';

@header-hover-bg: rgba(0, 0, 0, 0.025);

.right {
  display: flex;
  float: right;
  height: 60px;
  margin-left: auto;
  overflow: hidden;
  align-items: center;

  .action {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: @header-hover-bg;
    }
    &:global(.opened) {
      background: @header-hover-bg;
    }
  }
}

.avatar {
  display: inline-flex;
  align-items: center;
}

.name {
  margin-left: 9px;
  font-size: @font-size-base - 2px;
  line-height: 1;
}

.icon {
  font-size: 24px;
}

.modal {
  min-width: 600px;
  :global(.ant-modal-content) {
    border-radius: 15px;
  }
}

.content {
}
