@import '~antd/es/style/themes/default.less';

.right {
  display: flex;
  float: right;
  height: 60px;
  margin-left: auto;
  overflow: hidden;
  align-items: center;
}

.avatar {
  display: inline-flex;
  align-items: center;
}

.name {
  margin-left: 9px;
  font-size: @font-size-base - 2px;
  line-height: 1;
}
