@import '~antd/es/style/themes/default.less';

.wrapper {
}

.content {
  padding: 14px 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter {
  background-color: @popover-background;
  border-radius: 10px;
  margin: 20px 66px 16px;
  padding: 24px 24px 0;
}
