@import '~antd/es/style/themes/default.less';

.wrapper {
}

.searchExtra {
  &:global(.ant-btn) {
    height: 34px;
    border: 0;
  }
  &:global(.ant-btn-circle) {
    min-width: 34px;
  }
}

.search {
  margin-bottom: 20px;
}

.content {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter {
  background-color: @popover-background;
  border-radius: 10px;
  margin: 20px 66px;
  padding: 12px 24px;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}
